<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="gotoHome()">
        <ion-img src="assets/icon/favicon.png" alt="logo" style="display: block; height: 25px;"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title>Ionic App</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="reloadPage()">
        <ion-icon name="reload-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="!isLoaded" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feeds">
      <ion-badge color="success"></ion-badge>
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Feeds</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="#"></ion-tab-button>

    <ion-tab-button tab="activity">
      <ion-badge color="danger">2</ion-badge>
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Activity</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab vertical="bottom" horizontal="center" slot="fixed" tab="tab3">
  <ion-fab-button (click)="addNew()">
      <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
