<ion-content [fullscreen]="true" class="ion-justify-content-evenly">
  <swiper-container [slidesPerView]="1" [loop]="false">
    <swiper-slide *ngFor="let slider of slideData; let i = index">
      <ion-list>
        <ion-item lines="none" class="ion-align-items-center">
          <ion-img src="{{slider.imageUrl}}" alt="slider" style="margin: auto;"></ion-img>
        </ion-item>
        <ion-item lines="none">
          <ion-title class="ion-padding">{{slider.title}}</ion-title>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="ion-padding" style="text-align: center; max-width: 576px;">
            {{slider.description}}
          </ion-text>
        </ion-item>
        <ion-item *ngIf="slider?.action" lines="none" class="ion-align-items-center">
          <ion-button fill="clear" routerLink="{{slider.action?.url}}" style="margin: auto;" (click)="continue()">
            {{slider.action?.text}}
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </swiper-slide>
  </swiper-container>
</ion-content>
