ion-toolbar {
  ion-button {
      margin: 0;
      font-family: 'bold';
  }
  .back_btn {
      font-size: 14px;
  }
}

ion-content {
  position: absolute;
  top: 0px;
}

.main_content_div {
  padding: 16px;
  padding-top: 40px;

  ion-label {
      display: block;
  }

  ion-item {
      border-bottom: 1px solid #CBCBCB;
      --padding-start: 15px;
      margin-bottom: 5px;

      ion-label {
          color: grey;
      }
  }

  ion-button {
    margin: 30px 20% 0;
  }
}
