<ion-header>
  <ion-toolbar>
      <ion-title color="primary">Change Password</ion-title>
      <ion-button (click)="goBack()" fill="clear" size="medium" slot="end">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main_content_div">

        <ion-item class="username_box" lines="none">
            <ion-label position="floating">Old Password</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item class="username_box" lines="none">
            <ion-label position="floating">New Password</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item class="username_box" lines="none">
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-button expand="block" shape="round">
            Change Password
        </ion-button>

    </div>
</ion-content>
